    <footer class="site-footer">

      <div class="wrapper">

        <h2 class="footer-heading">{{ site.title }}</h2>

        <div class="footer-col-wrapper">
          <div class="footer-col footer-col-1">
            <ul class="contact-list">
              <li>{{ site.title }}</li>
              <li>{{ site.author }}</li>
              <li>
{% include email.html %}
              </li>
              <li>
                <a href="http://6wind.com/"><img class="site-footer-logo" src="{{ site.baseurl }}/img/site/6WIND.svg"/></a>
                <a href="{{ site.baseurl }}/"><img class="site-footer-logo" src="{{ site.baseurl }}/img/site/frigate.svg"/></a>
              </li>
            </ul>
          </div>

          <div class="footer-col footer-col-2">
            <ul class="social-media-list">
              {% for user in site.socnet_users %}
              <li>
                {% include icon-github.html username=user.github_username %}
              </li>
              <li>
                {% include icon-twitter.html username=user.twitter_username %}
              </li>
              <li><br /></li>
              {% endfor %}
            </ul>
          </div>

          <div class="footer-col footer-col-3">
            <p>{{ site.description }}</p>
            <p>
{% include license.html %}
            </p>
          </div>
        </div>

      </div>

    </footer>
