    <header class="site-header">

      <div class="wrapper">

        <a class="site-title" href="{{ site.baseurl }}/">
          <img class="site-header-logo" src="{{ site.baseurl }}/img/site/frigate.svg"/>
          {{ site.title }}
        </a>

        <nav class="site-nav">
          <div class="trigger">
              <a class="page-link" href="{{ site.baseurl }}/">Posts by date</a>
            {% for my_page in site.pages reversed %}
              {% if my_page.title and my_page.url != '/404.html' %}
              <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
              {% endif %}
            {% endfor %}
          </div>
        </nav>

      </div>

    </header>
