/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Logo
 */
.site-header-logo {
    height: 32px;
    margin-right: -15px;
    vertical-align: baseline;
}

.site-logo {
    display: block;
    float: right;
    width: 300px;
    max-width: 50%;
    min-width: 56px;
}

.site-footer-logo {
    width: 120px;
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;

    a {
      color: $color-secondary-1-0;
    }
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
    transition: color 0.3s ease-in-out;

    &:visited {
      color: $color-secondary-1-0;
    }

    &:hover {
      color: $color-complement-0;
      text-decoration: none;
      transition: color 0.3s ease-in-out;
    }
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    font-weight: 300;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h1 {
        font-size: 32px;
        color: $color-secondary-2-0;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h2 {
        font-size: 26px;
        color: $color-primary-0;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h3 {
        font-size: 20px;
        color: $color-complement-0;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    h4 {
        font-size: 18px;
        color: $color-secondary-2-0;

        @include media-query($on-laptop) {
            font-size: 16px;
        }
    }
}



/**
 * Table of contents
 */
#markdown-toc {
  margin-left: 0px;
  padding: $spacing-unit/2 $spacing-unit;
  border-top: solid 2px $color-primary-1;
  border-bottom: solid 2px $color-primary-1;
  text-align: left;

  ul {
    text-align: left;
  }
}



/**
 * Previous / Next buttons
 */
.prevnext {
  text-align: center;
  margin-top: 2 * $spacing-unit;

  .post-prev, .post-next {
    display: inline-block;
    width: 250px;
    margin: 0 $spacing-unit;
    padding: $spacing-unit / 3;
    border-radius: 10px;
    border: solid 1px $color-primary-1;
    color: $color-primary-0;
    font-weight: 300;
    font-style: italic;

    &:hover {
      background-color: $color-primary-0;
      border-color: $color-primary-0;
      color: #fff;
      text-decoration: none;
      box-shadow: 2px 3px 5px #111;
      transition: all 0.2s ease-out, box-shadow 0.8s ease-out 0.8s;
    }
  }

  .post-prev:before {
    content:"« "
  }

  .post-next:after {
    content:" »"
  }
}



/**
 * 404.html
 */
#div404 {
  width: 500px;
  margin: $spacing-unit auto;
  max-width: 80%;
  text-align: center;

  p {
    font-size: $base-font-size * 1.2;
  }
}
